@charset "utf-8";
/* CSS Document */

.suggestionsBox {
	position:absolute;
	left: 5px;
	margin: 10px 0px 0px 0px;
	width: 240px;
	background-color: #055f9b;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 2px solid #043e64;	
	color: #fff;
		z-index:9999999999 !important;
}

.suggestionList {
	margin: 0px !important;
	padding: 0px !important;
}

.suggestionList li {
	
	margin: 0px 0px 3px 0px;
	padding: 5px;
	cursor: pointer;
}

.suggestionList li:hover {
	background-color: #043e64;
	padding:5px;
}
